In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

dtypes = {'PassengerId':'category', 'Survived':'category', 'Pclass':'category'}
train_df = pd.read_csv('Titanic/train.csv', dtype=dtypes)
test_df = pd.read_csv('Titanic/test.csv')
combine = [train_df, test_df]

In [5]:
print('Features:', ', '.join(train_df.columns))

Features: PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked

In [6]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null category
Survived       891 non-null category
Pclass         891 non-null category
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: category(3), float64(2), int64(2), object(5)
memory usage: 73.2+ KB

In [8]:
numeric = train_df[['Age', 'Fare', 'Parch', 'SibSp']]
numeric.describe()

              Age        Fare       Parch       SibSp
count  714.000000  891.000000  891.000000  891.000000
mean    29.699118   32.204208    0.381594    0.523008
std     14.526497   49.693429    0.806057    1.102743
min      0.420000    0.000000    0.000000    0.000000
25%     20.125000    7.910400    0.000000    0.000000
50%     28.000000   14.454200    0.000000    0.000000
75%     38.000000   31.000000    0.000000    1.000000
max     80.000000  512.329200    6.000000    8.000000

In [9]:
import numpy as np
categorical = train_df[['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']]
categorical.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Ticket,Cabin,Embarked
count,891,891,891,891,891,891,204,889
unique,891,2,3,891,2,681,147,3
top,99,0,3,"Silven, Miss. Lyyli Karoliina",male,347082,G6,S
freq,1,549,491,1,577,7,4,644

In [10]:
pclass_plus_survival = train_df[['Pclass', 'Survived']].apply(pd.to_numeric)
pclass_plus_survival.corr()

            Pclass  Survived
Pclass    1.000000 -0.338481
Survived -0.338481  1.000000

In [18]:
gender_plus_survival = train_df[['Sex', 'Survived']]
female_survival = gender_plus_survival.loc[gender_plus_survival['Sex'] == 'female']['Survived'].apply(pd.to_numeric)
male_survival = gender_plus_survival.loc[gender_plus_survival['Sex'] == 'female']['Survived'].apply(pd.to_numeric)
female_survival.dtype

category